*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/core/build/
/core/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/sample/build/
/sample/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
.gradle_user/
/standalone/build/
/compose-core/build/
/compose-sample/build/